Repository opensearch-project/dashboards-flow-framework, pull requests merged in 2024-09, with the labels that each got.

#336 Use smaller and compressed variants of buttons and form components
  public/pages/workflow_detail/tools/tools.tsx
  public/pages/workflow_detail/workflow_detail.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/map_array_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/number_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/select_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/text_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/edit_query_modal.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/import_workflow/import_workflow_modal.tsx
  public/pages/workflows/workflow_list/workflow_list.tsx
  public/pages/workflows/workflows.tsx
Labels: backport 2.x

#339 Improve and simplify processor form configs
  common/constants.ts
  public/pages/workflow_detail/workflow_detail.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/map_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/select_with_custom_options.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/utils/utils.ts
Labels: enhancement, backport 2.x, rapid, new workflow, workflow editor, Roadmap:Ease of Use

#341 Integrate model interface info in advanced transform modals
  common/interfaces.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/output_transform_modal.tsx
  public/utils/utils.ts
Labels: backport 2.x, rapid, advanced transform, v2.18.0

#343 Onboard one-to-one config for ML search resp processors
  public/configs/search_response_processors/ml_search_response_processor.ts
  public/pages/workflow_detail/workflow_inputs/config_field_list.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/model_field.tsx
Labels: enhancement, backport 2.x, rapid, workflow details

#346 Add existing indices as a source data option; improve config autofilling
  common/constants.ts
  common/interfaces.ts
  common/utils.ts
  public/pages/workflow_detail/resizable_workspace.tsx
  public/pages/workflow_detail/workflow_detail.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/ingest_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/select_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/new_workflow/utils.ts
  public/route_service.ts
  public/store/reducers/opensearch_reducer.ts
  server/routes/opensearch_routes_service.ts
Labels: backport 2.x, rapid, workflow details, workflow editor, v2.18.0

#345 workflow_detail unit tests
  public/pages/workflow_detail/workflow_detail.test.tsx
  public/pages/workflows/new_workflow/utils.ts
  test/utils.ts
Labels: backport 2.x

#354 Fetch default options for ML processor config maps
  common/constants.ts
  package.json
  public/pages/workflow_detail/workflow_detail.test.tsx
  public/pages/workflow_detail/workflow_detail.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/map_array_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/map_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/select_with_custom_options.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/search_inputs.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/store/reducers/ml_reducer.ts
  public/store/reducers/opensearch_reducer.ts
  public/store/reducers/presets_reducer.ts
  public/store/reducers/workflows_reducer.ts
  test/utils.ts
  yarn.lock
Labels: backport 2.x, dependencies, rapid, workflow details, workflow editor, Roadmap:Ease of Use

#361 Add explicit save / revert buttons in search & ingest forms
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
Labels: backport 2.x, rapid, workflow editor, Roadmap:Ease of Use

#364 Handle reprovision failure edge case
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
Labels: bug, enhancement, backport 2.x, workflow editor

#360 Improving and expanding functionality checks for the workflow_detail page
  package.json
  public/pages/workflow_detail/components/export_modal.tsx
  public/pages/workflow_detail/components/header.tsx
  public/pages/workflow_detail/workflow_detail.test.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflow_detail/workspace/workspace.tsx
  yarn.lock
Labels: test, backport 2.x, dependencies

#369 Onboard basic RAG preset
  common/constants.ts
  common/interfaces.ts
  public/configs/search_response_processors/collapse_processor.ts
  public/configs/search_response_processors/index.ts
  public/general_components/general-component-styles.scss
  public/pages/workflow_detail/tools/tools.tsx
  public/pages/workflow_detail/workflow_detail.test.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
  public/pages/workflows/new_workflow/quick_configure_inputs.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/pages/workflows/new_workflow/utils.ts
  public/utils/config_to_template_utils.ts
  server/resources/templates/rag.json
Labels: backport 2.x, rapid, workflow editor, advanced transform

#373 Standardize source data to input/output transform modals
  common/interfaces.ts
  public/pages/workflow_detail/workflow_inputs/input_fields/boolean_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/output_transform_modal.tsx
  public/utils/utils.ts
  server/routes/helpers.ts
Labels: bug, backport 2.x, rapid, advanced transform

#375 Fix parsing of ML response processor
  public/pages/workflow_detail/workflow_inputs/processor_inputs/output_transform_modal.tsx
Labels: bug, backport 2.x, advanced transform

#379 Add optional prompt template transformation in input transform
  public/configs/ml_processor.ts
  public/configs/search_response_processors/collapse_processor.ts
  public/configs/search_response_processors/normalization_processor.ts
  public/pages/workflow_detail/tools/ingest/ingest.tsx
  public/pages/workflow_detail/tools/query/query.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/json_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/output_transform_modal.tsx
  public/pages/workflow_detail/workspace/workspace.tsx
Labels: backport 2.x, rapid, advanced transform, v2.18.0

#382 Set default outputs and display schema based on `full_response_path`
  common/constants.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/output_transform_modal.tsx
  public/utils/utils.ts
Labels: backport 2.x, rapid, workflow details, advanced transform

#385 Support relevant form toggling in advanced transform modals
  common/constants.ts
  common/utils.ts
  public/configs/search_response_processors/ml_search_response_processor.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/output_transform_modal.tsx
  public/utils/utils.ts
Labels: backport 2.x, rapid, Roadmap:Ease of Use, advanced transform

#389 Add dedicated prompt configuration for ML search resp processors
  common/constants.ts
  common/interfaces.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/configure_prompt_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/index.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/edit_query_modal.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
Labels: backport 2.x, rapid, workflow editor, Roadmap:Ease of Use, advanced transform, RAG

#388 Expanded functionality tests for New Workflow and Workflow List components.
  public/pages/workflow_detail/workflow_detail.test.tsx
  public/pages/workflows/import_workflow/import_workflow_modal.test.tsx
  public/pages/workflows/import_workflow/import_workflow_modal.tsx
  public/pages/workflows/new_workflow/new_workflow.test.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/pages/workflows/new_workflow/use_case.tsx
  public/pages/workflows/workflow_list/delete_workflow_modal.tsx
  public/pages/workflows/workflow_list/workflow_list.test.tsx
  public/pages/workflows/workflows.test.tsx
  public/pages/workflows/workflows.tsx
  test/interfaces.ts
  test/utils.ts
Labels: test, backport 2.x

#395 Expanded unit test coverage for key UI components
  public/pages/workflow_detail/workflow_detail.test.tsx
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/edit_query_modal.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/new_workflow/new_workflow.test.tsx
  public/pages/workflows/workflow_list/workflow_list.test.tsx
  public/pages/workflows/workflows.test.tsx
Labels: backport 2.x

#401 Add Codecov for test coverage reporting
  .github/workflows/build-and-test.yml
  codecov.yml
Labels: backport 2.x, github actions
