Repository opensearch-project/dashboards-flow-framework, pull requests merged in 2024-11, with the labels that each got.

#460 Refactor subcomponents in advanced transform modals
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/edit_query_modal.tsx
Labels: backport 2.x, advanced transform

#464 Refactor processor form components
  public/pages/workflow_detail/workflow_inputs/input_fields/map_array_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/map_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
  public/utils/config_to_template_utils.ts
Labels: enhancement, backport 2.x, workflow editor, advanced transform

#462 Added drill-down details for workflow-created resources
  common/constants.ts
  common/interfaces.ts
  public/general_components/index.ts
  public/general_components/resource_list.tsx
  public/pages/workflow_detail/tools/resources/resource_list_with_flyout.tsx
  public/pages/workflow_detail/tools/resources/resources.tsx
  public/pages/workflows/workflow_list/resource_list.tsx
  public/pages/workflows/workflow_list/workflow_list.test.tsx
  public/pages/workflows/workflow_list/workflow_list.tsx
  public/route_service.ts
  public/store/reducers/opensearch_reducer.ts
  public/utils/utils.ts
  server/cluster/core_plugin.ts
  server/cluster/index.ts
  server/plugin.ts
  server/routes/opensearch_routes_service.ts
Labels: backport 2.x

#466 Move exposed configs in the advanced transform modals
  public/pages/workflow_detail/workflow_detail.test.tsx
  public/pages/workflow_detail/workflow_inputs/config_field_list.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/boolean_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
Labels: enhancement, backport 2.x, advanced transform

#470 Warn users on browser refresh if unsaved changes
  public/pages/workflow_detail/components/header.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
Labels: enhancement, backport 2.x, workflow editor

#472 Add experimental badging I; update plugin name
  common/constants.ts
  public/general_components/experimental_badge.tsx
  public/general_components/index.ts
  public/general_components/service_card/index.ts
  public/general_components/service_card/plugin_card.tsx
  public/general_components/service_card/search_studio_card.tsx
  public/pages/workflow_detail/components/header.tsx
  public/pages/workflow_detail/resizable_workspace.tsx
  public/pages/workflow_detail/workflow_detail.tsx
  public/pages/workflows/import_workflow/import_workflow_modal.tsx
  public/pages/workflows/workflows.tsx
  public/plugin.ts
  public/utils/constants.ts
  test/jest.config.js
  test/mocks/empty_mock.ts
Labels: enhancement, backport 2.x, v2.19.0

#476 Onboard rerank by field processor
  common/constants.ts
  public/configs/search_response_processors/index.ts
  public/configs/search_response_processors/rerank_processor.ts
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
  public/utils/config_to_template_utils.ts
  public/utils/config_to_workspace_utils.ts
Labels: backport 2.x, workflow editor

#479 JSONPath bug fix & improved wording in input/output transforms
  common/constants.ts
  public/pages/workflow_detail/workflow_inputs/input_fields/map_array_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/map_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/output_transform_modal.tsx
  public/utils/utils.ts
Labels: backport 2.x

#481 Improve consistency of JSONPath parsing & execution across frontend/backend
  common/constants.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/output_transform_modal.tsx
  public/utils/config_to_template_utils.ts
  public/utils/utils.ts
Labels: bug, backport 2.x, advanced transform

#484 Add a tutorial on the plugin's current state
  README.md
  documentation/images/advanced-input-ingest-input-schema.png
  documentation/images/advanced-input-ingest.png
  documentation/images/advanced-output-ingest-output-schema.png
  documentation/images/advanced-output-ingest.png
  documentation/images/build-and-run-ingestion-response.png
  documentation/images/buttons.png
  documentation/images/edit-query-term.png
  documentation/images/enrich-data.png
  documentation/images/enrich-query-request.png
  documentation/images/enrich-query-results.png
  documentation/images/export-modal.png
  documentation/images/form.png
  documentation/images/import-data-populated.png
  documentation/images/import-data.png
  documentation/images/index-settings-updated.png
  documentation/images/index-settings.png
  documentation/images/input-config-ingest.png
  documentation/images/inspector.png
  documentation/images/ml-config-ingest.png
  documentation/images/output-config-ingest.png
  documentation/images/override-query-with-placeholders.png
  documentation/images/override-query.png
  documentation/images/presets-page.png
  documentation/images/search-response.png
  documentation/images/sidenav.png
  documentation/images/workspace.png
  documentation/tutorial-11-18-2024.md
Labels: backport 2.x

#483 Misc bug fixes and minor UX improvements III
  public/pages/workflow_detail/tools/errors/errors.tsx
  public/pages/workflow_detail/tools/resources/resources.tsx
  public/pages/workflow_detail/workflow_detail.test.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/configure_prompt_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/override_query_modal.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/edit_query_modal.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflow_detail/workspace/workspace.tsx
Labels: bug, enhancement, backport 2.x

#485 Show experimental badge on Workflow Details page (new and old)
  public/pages/workflow_detail/components/header.tsx
Labels: enhancement, backport 2.x

#489 Add support for query request parsing in ml search resp processor
  common/constants.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/input_transform_modal.tsx
  public/utils/utils.ts
Labels: backport 2.x

#492 Refactor model input/output transform configurations
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/index.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_prompt_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/index.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/override_query_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_outputs.tsx
Labels: backport 2.x, refactor, advanced transform

#496 Adding experimental badge in header in Workflows list page
  public/pages/workflows/workflows.tsx
Labels: backport 2.x

#499 Add kamahuan as maintainer
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: documentation, backport 2.x, github actions

#495 Support different input transform types
  common/constants.ts
  common/interfaces.ts
  public/configs/ml_processor.ts
  public/pages/workflow_detail/workflow_inputs/input_fields/index.ts
  public/pages/workflow_detail/workflow_inputs/input_fields/map_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/select_with_custom_options.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_expression_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_template_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/index.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_inputs.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/utils/config_to_form_utils.ts
  public/utils/config_to_schema_utils.ts
  public/utils/config_to_template_utils.ts
  public/utils/utils.ts
Labels: backport 2.x

#504 Improve input/output transformation configuration
  common/constants.ts
  common/interfaces.ts
  public/configs/ml_processor.ts
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data_modal.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/index.ts
  public/pages/workflow_detail/workflow_inputs/input_fields/map_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/select_with_custom_options.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_expression_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_multi_expression_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_prompt_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_template_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/index.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/override_query_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_outputs.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/edit_query_modal.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/utils/config_to_form_utils.ts
  public/utils/config_to_schema_utils.ts
  public/utils/config_to_template_utils.ts
  public/utils/utils.ts
  server/routes/helpers.ts
Labels: enhancement, backport 2.x, workflow details, new workflow, workflow editor, advanced transform

#506 Update tutorial; add helper text in modals
  common/interfaces.ts
  documentation/images/expression-ingest.png
  documentation/images/expression-modal-ingest-validated.png
  documentation/images/expression-modal-ingest.png
  documentation/images/ml-config-ingest.png
  documentation/tutorial.md
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_expression_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_multi_expression_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_template_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_outputs.tsx
Labels: backport 2.x
