Repository opensearch-project/dashboards-flow-framework, pull requests merged in 2024-10, with the labels that each got.

#403 Improve prompt config UX; support JSONPath bug fix
  common/constants.ts
  common/interfaces.ts
  public/pages/workflow_detail/tools/tools.tsx
  public/pages/workflow_detail/workflow_detail.test.tsx
  public/pages/workflow_detail/workflow_detail.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/configure_prompt_modal.tsx
  public/utils/utils.ts
  server/routes/helpers.ts
Labels: enhancement, backport 2.x

#407 Add dedicated UX for query template building (ML search req processors)
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/configure_prompt_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/override_query_modal.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
Labels: backport 2.x, rapid, workflow details, advanced transform

#411 Bump VachaShah/backport to v2.2.0
  .github/workflows/backport.yml
Labels: infra, backport 2.x, github actions

#416 Fix URL update for 'Create workflow' button (list page)
  .github/workflows/backport.yml
  public/pages/workflows/workflows.tsx
Labels: bug, backport 2.x

#413 Bumped minimum compatibility to 2.18.0
  opensearch_dashboards.json
  server/resources/templates/custom.json
  server/resources/templates/hybrid_search.json
  server/resources/templates/multimodal_search.json
  server/resources/templates/rag.json
  server/resources/templates/semantic_search.json
  server/resources/templates/sentiment_analysis.json
  test/utils.ts
Labels: backport 2.x

#419 Fix placeholder strings in prompt template modal
  .github/workflows/backport.yml
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/configure_prompt_modal.tsx
Labels: bug, backport 2.x

#427 Misc bug fixes and minor UX improvements
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/ingest_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/import_workflow/import_workflow_modal.tsx
Labels: bug, enhancement, backport 2.x, v2.18.0

#428 Fit and Finish enhancements
  public/general_components/multi_select_filter.tsx
  public/general_components/processors_title.tsx
  public/general_components/service_card/search_studio_card.tsx
  public/pages/workflow_detail/components/export_modal.tsx
  public/pages/workflow_detail/resizable_workspace.tsx
  public/pages/workflow_detail/tools/errors/errors.tsx
  public/pages/workflow_detail/tools/resources/resources.tsx
  public/pages/workflow_detail/tools/tools.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/ingest_data.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/configure_prompt_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/override_query_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/edit_query_modal.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflow_detail/workspace/workspace.tsx
  public/pages/workflow_detail/workspace/workspace_components/group_component.tsx
  public/pages/workflow_detail/workspace/workspace_components/workspace_component.tsx
  public/pages/workflows/empty_list_message.tsx
  public/pages/workflows/new_workflow/use_case.tsx
  public/pages/workflows/workflow_list/delete_workflow_modal.tsx
  public/pages/workflows/workflow_list/workflow_list.tsx
  public/pages/workflows/workflows.tsx
Labels: backport 2.x

#433 Added Integration Tests Workflow (backport 2.x)
  .github/workflows/remote-integ-tests-workflow.yml
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/edit_query_modal.tsx
  public/pages/workflows/import_workflow/import_workflow_modal.tsx
  public/pages/workflows/new_workflow/quick_configure_inputs.tsx
Labels: documentation, dependencies, github actions

#432 Misc bug fixes and minor UX improvements II
  common/constants.ts
  public/general_components/processors_title.tsx
  public/pages/workflow_detail/components/header.tsx
  public/pages/workflow_detail/resizable_workspace.tsx
  public/pages/workflow_detail/tools/tools.tsx
  public/pages/workflow_detail/workflow_detail.test.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/map_array_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/map_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
Labels: bug, enhancement, backport 2.x

#435 Move undo & save buttons in top-level header
  common/constants.ts
  public/pages/workflow_detail/components/header.tsx
  public/pages/workflow_detail/resizable_workspace.tsx
  public/pages/workflow_detail/workflow_detail.test.tsx
  public/pages/workflow_detail/workflow_detail.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  test/utils.ts
Labels: enhancement, backport 2.x, workflow details

#447 fix: use correct router
  public/render_app.tsx
Labels: backport 2.x

#445 Add standalone form state for source data
  common/constants.ts
  common/interfaces.ts
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data_modal.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/json_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/model_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/number_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/select_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/select_with_custom_options.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/text_field.tsx
  public/utils/config_to_schema_utils.ts
Labels: enhancement, backport 2.x, workflow editor

#451 Removing the SideNav within the flow framework dashboards
  public/app.tsx
  public/plugin.ts
  public/render_app.tsx
Labels: backport 2.x

#452 Simplify PR template
  .github/pull_request_template.md
Labels: infra, backport 2.x, github actions

#450 Add standalone form state for query editing modal
  common/interfaces.ts
  public/pages/workflow_detail/workflow_detail.test.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data_modal.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/edit_query_modal.tsx
Labels: enhancement, backport 2.x, workflow editor

#457 Fixed workflow detail page UX bugs
  public/pages/workflow_detail/components/header.tsx
  public/pages/workflow_detail/resizable_workspace.tsx
  public/pages/workflow_detail/tools/tools.tsx
  public/pages/workflow_detail/workflow_detail.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflow_detail/workspace/workspace-styles.scss
  public/pages/workflow_detail/workspace/workspace.tsx
Labels: backport 2.x

#456 Add standalone form state for advanced transform modals
  common/interfaces.ts
  public/pages/workflow_detail/workflow_inputs/input_fields/map_array_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/modals/output_transform_modal.tsx
Labels: enhancement, backport 2.x, workflow editor, advanced transform
