Repository opensearch-project/dashboards-flow-framework, pull requests merged in 2024-08, with the labels that each got.

#256 Onboard search req / search resp ML processors
  common/interfaces.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/utils/form_to_config_utils.ts
  public/utils/form_to_pipeline_utils.ts
  server/routes/flow_framework_routes_service.ts
  server/routes/helpers.ts
  server/routes/ml_routes_service.ts
Labels: backport 2.x

#238 fixed draft_release_notes workflow and Renamed plugin
  .github/workflows/draft-release-notes.yml
  opensearch_dashboards.json
  package.json
Labels: github actions

#257 Use smaller and compressed varients of buttons and form components
  public/general_components/delete_workflow_modal.tsx
  public/general_components/multi_select_filter.tsx
  public/pages/workflow_detail/components/header.tsx
  public/pages/workflow_detail/prototype/ingestor.tsx
  public/pages/workflow_detail/prototype/query_executor.tsx
  public/pages/workflow_detail/workflow_inputs/export_options/export_options.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/boolean_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/json_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/map_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/model_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/text_field.tsx
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
  public/pages/workflows/empty_list_message.tsx
  public/pages/workflows/new_workflow/new_workflow.tsx
  public/pages/workflows/new_workflow/use_case.tsx
  public/pages/workflows/workflow_list/workflow_list.tsx
Labels: backport 2.x

#268 Support fine-grained provisioning; handle more edge cases on search flow
  common/interfaces.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/new_workflow/utils.ts
  public/route_service.ts
  public/store/reducers/workflows_reducer.ts
  public/utils/config_to_form_utils.ts
  public/utils/config_to_schema_utils.ts
  public/utils/config_to_template_utils.ts
  public/utils/config_to_workspace_utils.ts
  public/utils/form_to_config_utils.ts
  server/cluster/flow_framework_plugin.ts
  server/routes/flow_framework_routes_service.ts
Labels: backport 2.x, rapid, workflow details, workflow editor

#270 Support `query_template` optional field for ML search request processor
  common/interfaces.ts
  public/configs/search_request_processors/ml_search_request_processor.ts
  public/pages/workflow_detail/workflow_inputs/config_field_list.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/json_field.tsx
  public/utils/config_to_form_utils.ts
  public/utils/config_to_schema_utils.ts
  public/utils/config_to_template_utils.ts
Labels: backport 2.x, rapid, workflow details, workflow editor

#274 Support MDS on workflows and workflow_detail pages
  common/interfaces.ts
  common/utils.ts
  opensearch_dashboards.json
  public/app.tsx
  public/pages/workflow_detail/workflow_detail.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/import_workflow/import_workflow_modal.tsx
  public/pages/workflows/new_workflow/use_case.tsx
  public/pages/workflows/workflow_list/columns.tsx
  public/pages/workflows/workflow_list/workflow_list.tsx
  public/pages/workflows/workflows.test.tsx
  public/pages/workflows/workflows.tsx
  public/plugin.ts
  public/render_app.tsx
  public/route_service.ts
  public/services.ts
  public/store/reducers/models_reducer.ts
  public/store/reducers/opensearch_reducer.ts
  public/store/reducers/workflows_reducer.ts
  public/types.ts
  public/utils/constants.ts
  public/utils/utils.ts
  server/plugin.ts
  server/routes/flow_framework_routes_service.ts
  server/routes/ml_routes_service.ts
  server/routes/opensearch_routes_service.ts
  server/utils/helpers.ts
  test/mocks/mock_core_services.ts
Labels: backport 2.x

#273 Improve form usability & autosave
  common/constants.ts
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  server/resources/templates/custom.json
  server/resources/templates/hybrid_search.json
  server/resources/templates/neural_sparse_search.json
  server/resources/templates/semantic_search.json
  server/routes/flow_framework_routes_service.ts
  server/routes/helpers.ts
Labels: enhancement, backport 2.x, rapid, workflow details, workflow editor

#263 Side Nav Redesign
  public/app.tsx
  public/plugin.ts
  public/render_app.tsx
Labels: backport 2.x

#284 Simplify export flow; improve form state
  common/constants.ts
  common/interfaces.ts
  public/component_types/indexer/base_indexer.ts
  public/component_types/indexer/index.ts
  public/pages/workflow_detail/components/export_modal.tsx
  public/pages/workflow_detail/components/header.tsx
  public/pages/workflow_detail/workflow_inputs/export_options/export_options.tsx
  public/pages/workflow_detail/workflow_inputs/export_options/index.ts
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/utils/config_to_template_utils.ts
  public/utils/config_to_workspace_utils.ts
  public/utils/form_to_pipeline_utils.ts
  server/resources/templates/custom.json
  server/resources/templates/semantic_search.json
Labels: backport 2.x, rapid, workflow details, workflow editor

#289 Improve loading state; prevent duplicate refresh
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/new_workflow/use_case.tsx
Labels: enhancement, backport 2.x, new workflow, workflow editor, v2.17.0

#294 Improve input constraints; general usability improvements
  common/constants.ts
  common/utils.ts
  public/general_components/delete_workflow_modal.tsx
  public/general_components/index.ts
  public/pages/workflow_detail/components/export_modal.tsx
  public/pages/workflow_detail/components/header.tsx
  public/pages/workflow_detail/workflow_detail.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/json_field.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/import_workflow/import_workflow_modal.tsx
  public/pages/workflows/new_workflow/use_case.tsx
  public/pages/workflows/new_workflow/utils.ts
  public/pages/workflows/workflow_list/columns.tsx
  public/pages/workflows/workflow_list/delete_workflow_modal.tsx
  public/pages/workflows/workflow_list/workflow_list.tsx
  public/pages/workflows/workflows.tsx
  public/utils/config_to_schema_utils.ts
  public/utils/utils.ts
Labels: backport 2.x, rapid, workflow details, workflow list, workflow editor

#293 Header Redesign
  common/constants.ts
  public/pages/workflow_detail/components/header.tsx
  public/pages/workflow_detail/workflow-detail-styles.scss
  public/pages/workflow_detail/workflow_detail.tsx
  public/pages/workflows/new_workflow/use_case.tsx
  public/pages/workflows/workflows.tsx
  public/plugin.ts
  public/services.ts
  public/store/reducers/models_reducer.ts
  public/utils/constants.ts
  public/utils/utils.ts
  test/mocks/mock_core_services.ts
Labels: backport 2.x

#299 Simplify form management
  common/interfaces.ts
  common/utils.ts
  public/pages/workflow_detail/components/export_modal.tsx
  public/pages/workflow_detail/resizable_workspace.tsx
  public/pages/workflow_detail/workflow_inputs/config_field_list.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/advanced_settings.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/enrich_data.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/ingest_data.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/ingest_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/boolean_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/json_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/map_array_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/map_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/model_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/number_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/select_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/select_with_custom_options.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/text_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/text_chunking_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/enrich_search_request.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/enrich_search_response.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/search_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflow_detail/workspace/workspace.tsx
  public/pages/workflow_detail/workspace/workspace_edge/deletable_edge.tsx
  public/pages/workflows/new_workflow/utils.ts
  public/store/reducers/form_reducer.ts
  public/store/reducers/index.ts
  public/store/store.ts
  public/utils/utils.ts
Labels: enhancement, backport 2.x, v2.17.0

#302 Add basic preset queries; onboard hybrid/multimodal search use cases
  common/constants.ts
  common/interfaces.ts
  public/pages/workflow_detail/workflow_detail.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/edit_query_modal.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/import_workflow/import_workflow_modal.tsx
  public/pages/workflows/new_workflow/utils.ts
  public/pages/workflows/workflow_list/workflow_list.tsx
  public/pages/workflows/workflows.tsx
  server/resources/templates/hybrid_search.json
  server/resources/templates/multimodal_search.json
Labels: backport 2.x, rapid, workflow list, workflow library, workflow editor, v2.17.0

#305 Fix description container in the new header
  public/pages/workflows/workflows.tsx
Labels: backport 2.x

#307 General form improvements
  common/constants.ts
  public/pages/workflow_detail/workflow_inputs/input_fields/map_array_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/map_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/output_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/edit_query_modal.tsx
Labels: backport 2.x, rapid, workflow editor, 2.17

#309 Add quick-create fields in the create flow and form pre-population
  common/constants.ts
  common/interfaces.ts
  public/pages/workflow_detail/workflow_inputs/search_inputs/edit_query_modal.tsx
  public/pages/workflows/new_workflow/new_workflow.tsx
  public/pages/workflows/new_workflow/quick_configure_inputs.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/pages/workflows/new_workflow/use_case.tsx
Labels: backport 2.x, rapid, workflow details, new workflow, workflow editor, Roadmap:Ease of Use, v2.17.0

#311 Onboard normalization processor
  common/constants.ts
  public/configs/search_response_processors/index.ts
  public/configs/search_response_processors/normalization_processor.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/normalization_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
  public/pages/workflows/new_workflow/quick_configure_inputs.tsx
  public/utils/config_to_template_utils.ts
Labels: backport 2.x, rapid, workflow editor

#312 Refine 'Search Studio' URL handling in Side Nav with NewHomePage enabled
  public/render_app.tsx
Labels: backport 2.x

#314 MDS Version Decoupling
  opensearch_dashboards.json
  public/pages/workflow_detail/components/header.tsx
  public/pages/workflows/workflows.tsx
  public/utils/utils.ts
Labels: backport 2.x

#318 Minor consistency fixes
  public/pages/workflow_detail/workflow_inputs/input_fields/map_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/text_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/input_transform_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/output_transform_modal.tsx
  public/pages/workflows/new_workflow/quick_configure_inputs.tsx
Labels: backport 2.x

#322 Improve presets for use cases
  common/constants.ts
  common/interfaces.ts
  public/pages/workflows/new_workflow/quick_configure_inputs.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/pages/workflows/new_workflow/utils.ts
  server/resources/templates/hybrid_search.json
  server/resources/templates/multimodal_search.json
  server/resources/templates/semantic_search.json
Labels: backport 2.x, rapid, new workflow, workflow editor, Roadmap:Ease of Use

#324 More preset automation & usability improvements
  common/constants.ts
  public/pages/workflow_detail/workflow_inputs/input_fields/select_with_custom_options.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/pages/workflows/new_workflow/utils.ts
  public/utils/utils.ts
Labels: backport 2.x, rapid, new workflow, workflow editor, Roadmap:Ease of Use

#317 Adding unit tests for new_workflow, workflow_list, import_workflow_modal components
  public/pages/workflows/import_workflow/import_workflow_modal.test.tsx
  public/pages/workflows/new_workflow/new_workflow.test.tsx
  public/pages/workflows/workflow_list/workflow_list.test.tsx
Labels: backport 2.x

#328 Add presets for quick config fields
  public/pages/workflows/new_workflow/quick_configure_inputs.tsx
  public/pages/workflows/new_workflow/utils.ts
Labels: enhancement, backport 2.x, new workflow, Roadmap:Ease of Use

#331 Rename visible plugin name to Search Studio
  common/constants.ts
  public/app.tsx
  public/pages/workflow_detail/workflow_detail.tsx
  public/pages/workflows/workflows.tsx
  public/plugin.ts
  public/render_app.tsx
  public/utils/constants.ts
Labels: infra, backport 2.x

#332 Add and improve some helper text; fix minor spacing
  common/constants.ts
  public/pages/workflow_detail/components/export_modal.tsx
  public/pages/workflow_detail/components/header.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workspace/workspace.tsx
Labels: backport 2.x, Roadmap:Ease of Use

#330 Prefill dimension if known remote model found; onboard search connectors API
  common/constants.ts
  common/interfaces.ts
  public/pages/workflow_detail/workflow_inputs/input_fields/map_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/model_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/select_with_custom_options.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/new_workflow/new_workflow.tsx
  public/pages/workflows/new_workflow/quick_configure_inputs.tsx
  public/route_service.ts
  public/store/reducers/index.ts
  public/store/reducers/ml_reducer.ts
  public/store/store.ts
  server/cluster/ml_plugin.ts
  server/routes/helpers.ts
  server/routes/ml_routes_service.ts
Labels: backport 2.x, rapid, new workflow, Roadmap:Ease of Use
