Repository opensearch-project/dashboards-flow-framework, pull requests merged in 2024-12, with the labels that each got.

#509 Add parameterized search
  common/constants.ts
  common/interfaces.ts
  public/general_components/index.ts
  public/general_components/query_params_list.tsx
  public/pages/workflow_detail/components/export_modal.tsx
  public/pages/workflow_detail/resizable_workspace.tsx
  public/pages/workflow_detail/tools/ingest/ingest.tsx
  public/pages/workflow_detail/tools/query/query.tsx
  public/pages/workflow_detail/tools/tools.tsx
  public/pages/workflow_detail/workflow_detail.test.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_expression_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_multi_expression_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_template_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/override_query_modal.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/edit_query_modal.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/new_workflow/index.ts
  public/pages/workflows/new_workflow/utils.ts
  public/utils/utils.ts
Labels: feature, backport 2.x, workflow editor

#512 Add `ui_metadata` versioning; other small fixes
  common/constants.ts
  common/interfaces.ts
  documentation/tutorial.md
  public/pages/workflow_detail/tools/query/query.tsx
  public/pages/workflow_detail/tools/tools.tsx
  public/pages/workflows/new_workflow/utils.ts
  public/utils/config_to_template_utils.ts
  public/utils/utils.ts
Labels: bug, infra, backport 2.x

#515 Simplify form navigation
  public/pages/workflow_detail/components/export_modal.tsx
  public/pages/workflow_detail/components/header.tsx
  public/pages/workflow_detail/resizable_workspace.tsx
  public/pages/workflow_detail/tools/query/query.tsx
  public/pages/workflow_detail/workflow_detail.test.tsx
  public/pages/workflow_detail/workflow_inputs/config_field_list.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/boolean_field.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/search_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/workflow_list/delete_workflow_modal.tsx
  public/pages/workflows/workflow_list/workflow_list.tsx
  public/utils/config_to_template_utils.ts
Labels: enhancement, backport 2.x, workflow editor

#517 Adding feature flag to OpenSearch Flow
  opensearch_dashboards.json
  server/index.ts
  server/types.ts
Labels: backport 2.x

#523 Improve search response rendering; other minor fixes
  common/interfaces.ts
  public/general_components/index.ts
  public/general_components/results/index.ts
  public/general_components/results/results.tsx
  public/general_components/results/results_json.tsx
  public/general_components/results/results_table.tsx
  public/pages/workflow_detail/resizable_workspace.tsx
  public/pages/workflow_detail/tools/query/query.tsx
  public/pages/workflow_detail/tools/tools.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/edit_query_modal.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflow_detail/workspace/workspace.tsx
Labels: backport 2.x, workflow editor, Roadmap:Ease of Use

#526 Support inserting template vars at cursor position; improve RAG preset
  common/constants.ts
  common/interfaces.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_template_modal.tsx
  public/pages/workflows/new_workflow/quick_configure_inputs.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/pages/workflows/workflow_list/workflow_list.test.tsx
  public/pages/workflows/workflow_list/workflow_list.tsx
Labels: enhancement, backport 2.x, workflow editor

#530 Fix MDS bug
  public/pages/workflows/workflows.tsx
Labels: backport 2.x

#529 Add query param list in advanced transform modals
  public/general_components/processors_title.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/enrich_data.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_expression_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_multi_expression_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_template_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_outputs.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/enrich_search_request.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/enrich_search_response.tsx
Labels: bug, enhancement, backport 2.x, advanced transform

#534 Minor improvements
  common/constants.ts
  public/pages/workflow_detail/workflow_inputs/input_fields/model_field.tsx
  public/pages/workflows/new_workflow/quick_configure_inputs.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/pages/workflows/new_workflow/utils.ts
  public/pages/workflows/workflow_list/workflow_list.tsx
  server/resources/templates/sentiment_analysis.json
Labels: enhancement, backport 2.x, workflow editor

#533 Improve prompt presets and prompt var generation
  common/constants.ts
  public/pages/workflow_detail/workflow_detail.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_template_modal.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
Labels: enhancement, backport 2.x, advanced transform

#538 mds bug fixes
  public/pages/workflows/new_workflow/new_workflow.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/pages/workflows/workflows.tsx
  public/utils/utils.ts
Labels: backport 2.x

#540 Misc improvements
  common/constants.ts
  public/general_components/index.ts
  public/general_components/jsonpath_examples_table.tsx
  public/pages/workflow_detail/tools/query/query.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/override_query_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_outputs.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/edit_query_modal.tsx
  public/utils/config_to_schema_utils.ts
Labels: enhancement, backport 2.x, workflow editor

#542 Add JSONPath examples / details in relevant modals
  common/constants.ts
  public/general_components/jsonpath_examples_table.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_expression_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_multi_expression_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_template_modal.tsx
  public/utils/config_to_schema_utils.ts
Labels: enhancement, backport 2.x, advanced transform

#544 Fix bug of unsaved `full_response_path` not updating when fetching output preview data
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_multi_expression_modal.tsx
Labels: enhancement, backport 2.x, advanced transform

#552 Add auto-generation of index mappings & settings based on processors
  common/constants.ts
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/advanced_settings.tsx
  public/pages/workflows/new_workflow/quick_configure_inputs.tsx
  public/utils/utils.ts
Labels: enhancement, backport 2.x, workflow editor

#554 UX fit-n-finish updates II
  common/constants.ts
  documentation/tutorial.md
  public/general_components/experimental_badge.tsx
  public/general_components/index.ts
  public/general_components/service_card/plugin_card.tsx
  public/pages/workflow_detail/components/header.tsx
  public/pages/workflows/workflows.tsx
Labels: enhancement, backport 2.x
