Repository opensearch-project/dashboards-flow-framework, pull requests merged in 2025-04, with the labels that each got.

#689 adding icons to reorder processors up and down
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
Labels: enhancement, backport main

#695 Support optional model inputs
  common/interfaces.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_inputs.tsx
  public/utils/config_to_schema_utils.ts
  public/utils/config_to_template_utils.ts
  public/utils/utils.tsx
Labels: enhancement, backport main

#699 Support whitespace for string constant; support ext toggling on ML resp processors
  common/constants.ts
  public/configs/search_response_processors/ml_search_response_processor.ts
  public/pages/workflow_detail/workflow_inputs/input_fields/boolean_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/text_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_outputs.tsx
  public/utils/config_to_template_utils.ts
Labels: enhancement, backport main

#703 Revert "Add kamahuan as maintainer"
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: documentation, backport 2.x

#702 [Backport main] Support whitespace for string constant; support ext toggling on ML resp processors
  common/constants.ts
  public/configs/search_response_processors/ml_search_response_processor.ts
  public/pages/workflow_detail/workflow_inputs/input_fields/boolean_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/text_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_outputs.tsx
  public/utils/config_to_template_utils.ts
Labels: backport 2.x
