Repository opensearch-project/dashboards-flow-framework, pull requests merged in 2025-03, with the labels that each got.

#657 Block simulate API calls if datasource version is missing
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_expression_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_multi_expression_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_template_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/search_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/import_workflow/import_workflow_modal.tsx
  public/pages/workflows/new_workflow/new_workflow.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/utils/utils.tsx
Labels: enhancement, backport main

#662 Update visible plugin name to 'AI Search Flows'
  common/constants.ts
  public/general_components/service_card/plugin_card.tsx
  public/pages/workflows/import_workflow/import_workflow_modal.tsx
  public/pages/workflows/workflows.tsx
Labels: documentation, enhancement, backport main

#664 Update plugin name and rearrange Try AI Search Flows card
  package.json
  public/general_components/service_card/plugin_card.tsx
Labels: backport main

#667 Adding release notes for 3.0-alpha1
  .github/workflows/changelog_verifier.yml
  CHANGELOG.md
  release-notes/opensearch-flow-framework-dashboards.release-notes-3.0.0.0-alpha1.md
Labels: documentation, backport 2.x

#665 Add new RAG + hybrid search preset
  common/constants.ts
  common/utils.ts
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data_modal.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/pages/workflows/new_workflow/quick_configure_optional_fields.tsx
  public/pages/workflows/new_workflow/utils.ts
  public/utils/form_to_pipeline_utils.ts
  server/resources/templates/hybrid_search_with_rag.json
  server/resources/templates/lexical_search_with_rag.json
Labels: enhancement, backport main

#672 Fix missed UI autofilling after JSON Lines change
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_expression_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_multi_expression_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/modals/configure_template_modal.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/utils/utils.tsx
Labels: bug, enhancement, backport main

#670 Update new index mappings if selecting from existing index
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data_modal.tsx
  public/utils/utils.tsx
Labels: bug, enhancement, backport main

#671 Persist state across Inspector tab switches; add presets dropdown
  public/pages/workflow_detail/tools/query/query.tsx
  public/pages/workflow_detail/tools/tools.tsx
Labels: enhancement, backport main

#678 Cache form across ML transform types
  common/interfaces.ts
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/model_outputs.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/utils.ts
Labels: enhancement, backport main

#683 add callout if knn query does not have knn index
  public/component_types/other/search_request.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/utils/utils.tsx
Labels: backport main
