Repository opensearch-project/dashboards-flow-framework, pull requests merged in 2025-02, with the labels that each got.

#591 Integrate with synchronous provisioning feature
  common/constants.ts
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/utils/utils.ts
  server/cluster/flow_framework_plugin.ts
  server/routes/flow_framework_routes_service.ts
Labels: backport 2.x

#595 Add NPE checks on Object.values() calls
  public/pages/workflow_detail/components/edit_workflow_metadata_modal.tsx
  public/pages/workflow_detail/tools/resources/resource_list_with_flyout.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/advanced_settings.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data_modal.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/configure_search_request.tsx
  public/pages/workflows/import_workflow/import_workflow_modal.tsx
  public/pages/workflows/new_workflow/quick_configure_inputs.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/pages/workflows/workflow_list/resource_list.tsx
  public/utils/config_to_schema_utils.ts
Labels: backport 2.x, backport 2.19

#602 Integrate legacy presets with quick-configure fields
  public/configs/ingest_processors/text_embedding_ingest_processor.ts
  public/configs/ingest_processors/text_image_embedding_ingest_processor.ts
  public/pages/workflow_detail/workflow_detail.tsx
  public/pages/workflow_detail/workflow_inputs/config_field_list.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/map_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/model_field.tsx
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/utils/config_to_template_utils.ts
  public/utils/utils.ts
Labels: enhancement, backport main

#605 hide search query section when version is less than 2.19
  public/pages/workflow_detail/workflow_inputs/search_inputs/search_inputs.tsx
Labels: backport 2.x

#604 Refactor quick configure components; improve processor error handling
  public/pages/workflow_detail/components/edit_workflow_metadata_modal.tsx
  public/pages/workflow_detail/tools/errors/errors.tsx
  public/pages/workflow_detail/tools/query/query.tsx
  public/pages/workflow_detail/tools/tools.tsx
  public/pages/workflow_detail/workflow_inputs/config_field_list.tsx
  public/pages/workflow_detail/workflow_inputs/index.ts
  public/pages/workflow_detail/workflow_inputs/input_fields/model_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/new_workflow/quick_configure_inputs.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/pages/workflows/new_workflow/quick_configure_optional_fields.tsx
  public/store/reducers/opensearch_reducer.ts
  public/utils/utils.ts
Labels: enhancement, backport main

#612 Support 2.17 BWC with latest backend integrations
  public/pages/workflow_detail/tools/query/query.tsx
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/search_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/new_workflow/new_workflow.tsx
  public/route_service.ts
  public/store/reducers/opensearch_reducer.ts
  public/store/reducers/workflows_reducer.ts
  public/utils/config_to_template_utils.ts
  public/utils/utils.ts
  server/cluster/flow_framework_plugin.ts
  server/routes/flow_framework_routes_service.ts
  server/routes/opensearch_routes_service.ts
Labels: enhancement, backport main, bwc

#617 Improve RAG preset experience
  common/interfaces.ts
  public/general_components/results/ml_outputs.tsx
  public/general_components/results/results.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
  public/utils/config_to_template_utils.ts
Labels: enhancement, backport main

#618 UX fit-n-finish updates XII
  common/constants.ts
  public/pages/workflow_detail/tools/errors/errors.tsx
  public/pages/workflow_detail/tools/tools.tsx
  public/pages/workflow_detail/workflow_inputs/ingest_inputs/source_data.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/model_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/ml_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/search_inputs/edit_query_modal.tsx
  public/pages/workflows/new_workflow/new_workflow.tsx
  public/pages/workflows/workflow_list/workflow_list.test.tsx
  public/pages/workflows/workflow_list/workflow_list.tsx
  public/pages/workflows/workflows.test.tsx
  public/pages/workflows/workflows.tsx
  public/utils/utils.tsx
Labels: bug, enhancement, backport main

#606 fix error that local cluster cannot get version
  public/pages/workflow_detail/workflow_inputs/processors_list.tsx
  public/pages/workflows/new_workflow/new_workflow.test.tsx
  public/pages/workflows/new_workflow/new_workflow.tsx
  public/route_service.ts
  public/store/reducers/opensearch_reducer.ts
  public/store/reducers/presets_reducer.ts
  public/utils/utils.tsx
Labels: backport 2.x

#622 Update model options and callout
  common/constants.ts
  public/pages/workflow_detail/workflow_inputs/input_fields/model_field.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/ml_processor_inputs/ml_processor_inputs.tsx
Labels: enhancement, backport main

#630 Bug fixes XIII
  public/pages/workflow_detail/workflow_inputs/search_inputs/search_inputs.tsx
  public/pages/workflows/workflow_list/workflow_list.tsx
Labels: backport 2.x

#632 Implicitly update input maps defined on non-expanded queries (common cases)
  common/constants.ts
  public/utils/config_to_template_utils.test.tsx
  public/utils/config_to_template_utils.ts
Labels: bug, backport main

#633 Show interim JSON provision flow even if provisioned
  public/pages/workflow_detail/workspace/workspace.tsx
Labels: enhancement, backport main

#625 added popover to display links to suggested models
  common/constants.ts
  documentation/models.md
  public/pages/workflow_detail/workflow_inputs/input_fields/model_field.tsx
  public/pages/workflow_detail/workflow_inputs/input_fields/models_info_popover.tsx
  public/pages/workflows/new_workflow/quick_configure_modal.tsx
Labels: backport 2.x

#644 Various bug fixes & improvements
  common/interfaces.ts
  public/app.tsx
  public/configs/ingest_processors/copy_ingest_processor.ts
  public/configs/ingest_processors/text_chunking_ingest_processor.ts
  public/configs/ingest_processors/text_embedding_ingest_processor.ts
  public/configs/ingest_processors/text_image_embedding_ingest_processor.ts
  public/configs/ml_processor.ts
  public/configs/search_response_processors/collapse_processor.ts
  public/configs/search_response_processors/normalization_processor.ts
  public/configs/search_response_processors/rerank_processor.ts
  public/configs/sort_processor.ts
  public/configs/split_processor.ts
  public/pages/workflow_detail/components/header.tsx
  public/pages/workflow_detail/workflow_detail.test.tsx
  public/pages/workflow_detail/workflow_detail.tsx
  public/pages/workflow_detail/workflow_inputs/config_field_list.tsx
  public/pages/workflow_detail/workflow_inputs/processor_inputs/normalization_processor_inputs.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/new_workflow/utils.ts
  public/utils/config_to_form_utils.ts
  public/utils/config_to_schema_utils.ts
Labels: bug, enhancement, backport main

#647 Bump to version 3.0.0.0-alpha1
  .github/workflows/remote-integ-tests-workflow.yml
  opensearch_dashboards.json
  package.json
Labels: version upgrade, github actions

#654 Fixed bug related to Search Index in Local Cluster scenario
  server/routes/flow_framework_routes_service.ts
  server/routes/opensearch_routes_service.ts
Labels: documentation, dependencies, github actions, backport main

#649 Add functional buttons in form headers; fix query parse bug
  public/pages/workflow_detail/tools/query/query.tsx
  public/pages/workflow_detail/tools/resources/resource_flyout.tsx
  public/pages/workflow_detail/tools/resources/resource_flyout_content.tsx
  public/pages/workflow_detail/tools/resources/resource_list_with_flyout.tsx
  public/pages/workflow_detail/tools/resources/resources_flyout.tsx
  public/pages/workflow_detail/workflow_inputs/workflow_inputs.tsx
  public/pages/workflows/workflows.tsx
  public/utils/config_to_template_utils.test.tsx
  public/utils/config_to_template_utils.ts
  public/utils/utils.tsx
Labels: bug, enhancement, backport main
